annotated-types==0.7.0
anyio==4.10.0
click==8.2.1
colorama==0.4.6
h11==0.16.0
idna==3.10
sniffio==1.3.1
starlette==0.47.3
typing-inspection==0.4.1
typing_extensions==4.15.0
sqlalchemy
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.1
marshmallow==3.22.0
flask_mysqldb
cryptography==39.0.
python-dotenv
